<section>
  <div
    class="grid grid-rowsborder rounded-2xl gap-2 bg-gray-100 dark:text-white dark:bg-slate-700"
  >
    <div class="items-center">
      <h2 class="text-center font-extrabold text-5xl m-8 justify-center">
        Beneficios
      </h2>
    </div>
    <ul class="flex items-start m-6 gap-2 space-x-6 text-justify text-xl">
      <ul class="grid gap-2 list-disc ml-5 w-1/2">
        <li class="list-disc">
          <span>
            <h1 class="font-extrabold">Mayor precisión y eficiencia:</h1>
            Elimina la posibilidad de errores humanos en el registro de asistencia,
            como olvidos o fraudes. La identificación facial es rápida y precisa,
            lo que optimiza los procesos de control de horarios.
          </span>
        </li>
        <li class="list-disc">
          <span>
            <h1 class="font-extrabold">Aumento de la seguridad:</h1>
            Al utilizar un dato biométrico único como el rostro, se refuerza la seguridad
            de las instalaciones y se evita el acceso no autorizado.
          </span>
        </li>
        <li class="list-disc">
          <span>
            <h1 class="font-extrabold">Reducción de costos:</h1>
            A largo plazo, puede reducir costos asociados a la gestión de personal,
            como horas extras no autorizadas o pagos incorrectos.
          </span>
        </li>
      </ul>
      <ul class="grid gap-2 ml-5 list-disc mr-5 w-1/2">
        <li class="list-disc">
          <span>
            <h1 class="font-extrabold">Información detallada:</h1>
            Genera reportes precisos y detallados sobre la asistencia de los empleados,
            lo que facilita la toma de decisiones basadas en datos.
          </span>
        </li>
        <li class="list-disc">
          <span>
            <h1 class="font-extrabold">Mejor gestión del tiempo</h1>
            Permite un seguimiento más preciso del tiempo de trabajo, lo que ayuda
            a optimizar la planificación de recursos y mejorar la productividad.
          </span>
        </li>
        <li class="list-disc">
          <span>
            <h1 class="font-extrabold">Integración con otros sistemas:</h1>
            Se puede integrar fácilmente con otros sistemas de gestión de recursos
            humanos, como nóminas y control de acceso.
          </span>
        </li>
      </ul>
    </ul>
  </div>
</section>
