<section class="blog container">
  <h2>blog</h2>

  <div class="blog-content">
    <div class="blog-1">
      <img src="images/blog4.jpg" alt="" />
      <h3>blog 1</h3>
      <p>
        "Cámaras de Reconocimiento Facial: ¡Adiós a las Listas de Asistencia!"
        Hoy les quiero contar cómo las cámaras de reconocimiento facial están
        transformando la manera en que se toma la asistencia en las escuelas.
        Con esta tecnología, los estudiantes ya no necesitan marcar su presencia
        manualmente. Al ingresar al aula, la cámara los identifica
        automáticamente, ahorrando tiempo y mejorando la precisión. ¡Es como
        traer un toque del futuro al día a día escolar!
      </p>
    </div>
    <div class="blog-1">
      <img src="images/blog5.jpg" alt="" />
      <h3>blog 2</h3>
      <p>
        "¿El Futuro de la Asistencia? Cámaras de Reconocimiento Facial" ¿Qué tan
        increíble sería que los maestros no tuvieran que pasar lista? Pues, con
        las cámaras de reconocimiento facial, eso es posible. Este sistema
        reconoce a los estudiantes al entrar al salón y registra su asistencia
        en segundos. Aunque algunos puedan preocuparse por la privacidad, los
        beneficios en términos de ahorro de tiempo y exactitud son claros. ¡La
        tecnología está cambiando la educación!
      </p>
    </div>
    <div class="blog-1">
      <img src="images/blog6.jpg" alt="" />
      <h3>blog 3</h3>
      <p>
        "Reconocimiento Facial para la Asistencia: ¿Vale la Pena?" Hoy hablamos
        de las cámaras de reconocimiento facial para tomar asistencia en las
        escuelas. Este avance tecnológico promete rapidez y precisión,
        permitiendo que los estudiantes sean registrados al instante. Sin
        embargo, también plantea preguntas sobre la privacidad y el manejo de
        datos personales. ¿Es este el futuro que queremos en nuestras aulas?
        ¡Dime qué opinas!
      </p>
    </div>
  </div>
  <a href="#" class="btn-1">informacion</a>
</section>
