<section
	class="grid rounded-2xl bg-gray-100 dark:bg-slate-700 overflow-hidden text-white relative bg-[url('/public/images/a4.jpg')] bg-cover bg-center bg-fixed"
>
	<div class='absolute inset-0 bg-black opacity-50'></div>
	<div class='z-10'>
		<h2 class='text-6xl text-center font-bold justify-center items-center m-8'>Blog</h2>
		<div class='flex space-x-6 text-center m-8'>
			<div>
				<img
					src='images/blog4.jpg'
					alt=''
					class='h-96 object-contain'
				/>
				<h3 class='text-3xl m-4'>Blog 1</h3>
				<p class='text-lg text-justify'>
					"Cámaras de Reconocimiento Facial: ¡Adiós a las Listas de Asistencia!" Hoy les quiero contar cómo las cámaras
					de reconocimiento facial están transformando la manera en que se toma la asistencia en las escuelas. Con esta
					tecnología, los estudiantes ya no necesitan marcar su presencia manualmente. Al ingresar al aula, la cámara
					los identifica automáticamente, ahorrando tiempo y mejorando la precisión. ¡Es como traer un toque del futuro
					al día a día escolar!
				</p>
			</div>
			<div>
				<img
					src='images/blog5.jpg'
					alt=''
					class='h-96 object-contain'
				/>
				<h3 class='text-3xl m-4'>Blog 2</h3>
				<p class='text-lg text-justify'>
					"¿El Futuro de la Asistencia? Cámaras de Reconocimiento Facial" ¿Qué tan increíble sería que los maestros no
					tuvieran que pasar lista? Pues, con las cámaras de reconocimiento facial, eso es posible. Este sistema
					reconoce a los estudiantes al entrar al salón y registra su asistencia en segundos. Aunque algunos puedan
					preocuparse por la privacidad, los beneficios en términos de ahorro de tiempo y exactitud son claros. ¡La
					tecnología está cambiando la educación!
				</p>
			</div>
			<div>
				<img
					src='images/blog6.jpg'
					alt=''
					class='h-96 object-contain'
				/>
				<h3 class='text-3xl m-4'>Blog 3</h3>
				<p class='text-lg text-justify'>
					"Reconocimiento Facial para la Asistencia: ¿Vale la Pena?" Hoy hablamos de las cámaras de reconocimiento
					facial para tomar asistencia en las escuelas. Este avance tecnológico promete rapidez y precisión, permitiendo
					que los estudiantes sean registrados al instante. Sin embargo, también plantea preguntas sobre la privacidad y
					el manejo de datos personales. ¿Es este el futuro que queremos en nuestras aulas? ¡Dime qué opinas!
				</p>
			</div>
		</div>
	</div>
</section>
