
<section class="coffee">

    <div class="coffee-content container">

        <h2>las distintas funcionalidades que tiene EduVision</h2>
        <p class="txt-p">
            estas son algunas de las funcionalidades mas destacadas de este software 
            para la ayuda de los estudiantes y docentes para los distintos niveles 
            eduacativos.
        </p>

        <div class="coffee-group">

            <div class="coffee-1">
                <img src="images/ca.png" alt="">
                <h3>Registro Automático de Asistencia</h3>
                <p>
                    Al ingresar a una clase o al campus, las cámaras del sistema reconocen automáticamente a los estudiantes 
                    y registran su asistencia en tiempo real. Este proceso elimina la necesidad de tomar asistencia manualmente 
                    y genera un registro preciso, almacenando la información en la nube o en una base de datos segura.
                </p>
            </div>
            <div class="coffee-group">

                <div class="coffee-1">
                    <img src="images/ca2.png" alt="">
                    <h3>Notificaciones Automáticas a Padres y Administradores</h3>
                    <p>
                        El sistema puede enviar notificaciones automáticas a los padres o tutores cuando sus hijos lleguen a la escuela o falten a clase.
                        También podría generar alertas para el personal administrativo si se detectan patrones de inasistencia, lo que ayuda a identificar 
                        problemas tempranamente.
                    </p>
                </div>
                <div class="coffee-group">

                    <div class="coffee-1">
                        <img src="images/ca3.png" alt="">
                        <h3>Reportes de Asistencia en Tiempo Real y Análisis de Datos</h3>
                        <p>
                            La plataforma puede generar reportes detallados de asistencia diaria, semanal o mensual,
                            brindando a los administradores escolares y maestros un resumen visual y accesible. Además,
                            se pueden aplicar análisis predictivos para detectar tendencias como absentismo crónico o identificar 
                            grupos que podrían necesitar apoyo.
                        </p>
                    </div>
              </div>
    </div>

</section>
