---

---

<section class='py-10 grid rounded-2xl bg-gray-100 dark:bg-slate-700 dark:text-white'>
	<div class='justify-center items-center text-center'>
		<h2 class='uppercase text-6xl m-4'>las distintas funcionalidades que tiene EduVision</h2>
		<p class='text-center m-8 text-2xl p-8'>
			Estas son algunas de las funcionalidades mas destacadas de este software para la ayuda de los estudiantes y
			docentes para los distintos niveles eduacativos.
		</p>

		<div class='flex items-stretch space-x-8 m-8'>
			<div class='grid gap-4'>
				<img
					src='images/ca.png'
					alt=''
					class='h-96 object-contain'
				/>
				<h3 class='m-2 text-xl font-extrabold dark:text-white'>Registro Automático de Asistencia</h3>
				<p class='text-justify text-lg'>
					Al ingresar a una clase o al campus, las cámaras del sistema reconocen automáticamente a los estudiantes y
					registran su asistencia en tiempo real. Este proceso elimina la necesidad de tomar asistencia manualmente y
					genera un registro preciso, almacenando la información en la nube o en una base de datos segura.
				</p>
			</div>
			<div>
				<img
					src='images/ca2.png'
					alt=''
					class='h-96 object-contain'
				/>
				<h3 class='m-2 text-xl font-extrabold dark:text-white'>
					Notificaciones Automáticas a Padres y Administradores
				</h3>
				<p class='text-justify text-lg'>
					El sistema puede enviar notificaciones automáticas a los padres o tutores cuando sus hijos lleguen a la
					escuela o falten a clase. También podría generar alertas para el personal administrativo si se detectan
					patrones de inasistencia, lo que ayuda a identificar problemas tempranamente.
				</p>
			</div>
			<div>
				<img
					src='images/ca3.png'
					alt=''
					class='h-96 object-contain'
				/>
				<h3 class='m-2 text-xl font-extrabold dark:text-white'>
					Reportes de Asistencia en Tiempo Real y Análisis de Datos
				</h3>
				<p class='text-justify text-lg'>
					La plataforma puede generar reportes detallados de asistencia diaria, semanal o mensual, brindando a los
					administradores escolares y maestros un resumen visual y accesible. Además, se pueden aplicar análisis
					predictivos para detectar tendencias como absentismo crónico o identificar grupos que podrían necesitar apoyo.
				</p>
			</div>
		</div>
	</div>
</section>
