---
import spt2 from "/public/images/spt2.jpg";
---

<section
  class="grid grid-cols-2 space-x-6 rounded-2xl overflow-hidden items-center justify-center bg-component dark:bg-component-dark dark:text-white"
>
  <div class="grid gap-6 p-28">
    <h2 class="text-6xl">Soporte Técnico</h2>
    <p class="text-xl text-justify">
      EduVision puede ofrecer soporte técnico continuo, incluyendo
      actualizaciones de software, mantenimiento de hardware y resolución de
      problemas. Este servicio asegura que el sistema funcione sin
      interrupciones y siempre esté optimizado.
    </p>
  </div>
  <img src={spt2.src} alt="" class="h-full" />
</section>
