---
import sec from "/public/images/sec.jpg";
---

<section
  class="grid grid-cols-2 space-x-6 rounded-2xl overflow-hidden items-center justify-center bg-component dark:bg-component-dark dark:text-white"
>
  <img src={sec.src} alt="" class="h-full" />
  <div class="grid gap-6 p-28 items-center justify-center">
    <h2 class="text-6xl">Privacidad y Seguridad</h2>
    <p class="text-xl text-justify">
      Dado que el reconocimiento facial involucra datos biométricos, EduVision
      ofrece servicios que aseguran el cumplimiento de normativas de privacidad
      incluyendo encriptación de datos, gestión de consentimiento y control de
      acceso a la información.
    </p>
  </div>
</section>
