<main class="services">
    <div class="services-content container">
        <h2>servicios del software</h2>
        <div class="services-group">

            <div class="services-1">
                <img src="images/logo1.png" alt="">
                <h3>notificaciones en tiempo real</h3>
            </div>
            <div class="services-1">
                <img src="images/logo2.png" alt="">
                <h3>Verificación de Identidad y Control de Acceso</h3>
            </div>
            <div class="services-1">
                <img src="images/logo3.png" alt="">
                <h3>Integración con Sistemas de Gestión Escolar</h3>
            </div>

        </div>
        <p>
            Estos servicios hacen que el software no solo sea útil para la gestión de asistencia,
            sino también una herramienta integral para mejorar la operación y la seguridad dentro 
            del entorno eduacativo. 
        </p>
        <a href="#" class="btn-1">informacion</a>
    </div>
</main>