---

---

<main
	class="grid rounded-2xl overflow-hidden text-white relative bg-[url('/public/images/a4.jpg')] bg-cover bg-center bg-fixed"
>
	<div class='absolute inset-0 bg-black opacity-50'></div>
	<div class='p-20 text-center justify-center items-center z-10 gap-32'>
		<h2 class='text-5xl font-bold mb-6'>Servicios del software</h2>
		<div class='grid grid-cols-3 text-center space-x-6 m-20 justify-center items-center'>
			<div class='flex flex-col gap-8 justify-center items-center'>
				<img
					src='images/logo1.png'
					alt=''
					class='h-32 object-contain'
				/>
				<h3 class='text-xl'>Notificaciones en tiempo real</h3>
			</div>
			<div class='flex flex-col gap-8 justify-center items-center'>
				<img
					src='images/logo2.png'
					alt=''
					class='h-32 object-contain'
				/>
				<h3 class='text-xl'>Verificación de Identidad y Control de Acceso</h3>
			</div>
			<div class='flex flex-col gap-8 justify-center items-center'>
				<img
					src='images/logo3.png'
					alt=''
					class='h-32 object-contain'
				/>
				<h3 class='text-xl'>Integración con Sistemas de Gestión Escolar</h3>
			</div>
		</div>
		<p class='text-xl'>
			Estos servicios hacen que el software no solo sea útil para la gestión de asistencia, sino también una herramienta
			integral para mejorar la operación y la seguridad dentro del entorno eduacativo.
		</p>
	</div>
</main>
