---
import Logo from "@/components/Logo.astro";
---

<aside class="flex flex-col gap-10">
	<Logo/>
	<p class="text-gray-600">
		Join our community of educators and learners. Be part of our mission. Be part of our journey.
	</p>
	<picture><img src="../assets/TechClassroom.jpg" alt=""></picture>
</aside>