---
import Logo from "@/components/Logo.astro";
---

<aside class="flex flex-col gap-10 items-center">
  <Logo />
  <p class="text-gray-600 w-[500px] text-center">
    Join our community of educators and learners. Be part of our mission. Be
    part of our journey.
  </p>
  <picture class="w-[500px]"
    ><img
      src="/src/layouts/SignInUp/assets/TechClassroom.jpg"
      alt=""
    /></picture
  >
</aside>

