---
import Button from '@components/Button.astro'
import Logo from '@components/Logo.astro'
import MenuIcon from '@components/icons/MenuIcon.astro'
import CloseIcon from '@components/icons/CloseIcon.astro'
import { AuthPages, LandingPages } from '@constants/pages'
---

<nav class='flex flex-wrap items-center justify-between py-8 text-md'>
	<Logo />
</nav>
