---
import Logo from "@components/Logo.astro";
import ButtonUser from "@components/ButtonUser";
---

<nav class="flex flex-wrap items-center justify-between py-8 text-md">
  <Logo />
  <ButtonUser client:load />
</nav>
