<section class="text-white">
  <div class="grid grid-rowsborder border rounded-lg bg-purple-600 gap-2 m-2">
    <h2 class="text-center font-extrabold m-4 mt-5 text-3xl">
      Visión a futuro
    </h2>
    <span class="m-4"
      >“En los próximos 5-10 años, SmartInnovations aspira a expandirse
      globalmente, integrando sus soluciones en instituciones educativas de todo
      el mundo. Planeamos desarrollar nuevas funcionalidades basadas en
      inteligencia artificial, como análisis de comportamiento y personalización
      del aprendizaje, para ofrecer una experiencia educativa más completa y
      adaptada a las necesidades individuales de cada estudiante. Además,
      buscamos establecer alianzas estratégicas con otras empresas tecnológicas
      y educativas para crear un ecosistema de aprendizaje interconectado y
      eficiente.”</span
    >
  </div>
</section>
