<section class="bg-component dark:bg-component-dark dark:text-white rounded-lg">
  <div class="grid p-10 gap-6">
    <h2 class="text-center font-extrabold m-4 text-6xl">Visión a futuro</h2>
    <p class="text-xl text-justify">
      En los próximos 5-10 años, SmartInnovations aspira a expandirse
      globalmente, integrando sus soluciones en instituciones educativas de todo
      el mundo.
    </p>
    <p class="text-xl text-justify">
      Planeamos desarrollar nuevas funcionalidades basadas en inteligencia
      artificial, como análisis de comportamiento y personalización del
      aprendizaje, para ofrecer una experiencia educativa más completa y
      adaptada a las necesidades individuales de cada estudiante.
    </p>

    <p class="text-xl text-justify">
      Además, buscamos establecer alianzas estratégicas con otras empresas
      tecnológicas y educativas para crear un ecosistema de aprendizaje
      interconectado y eficiente.
    </p>
  </div>
</section>
