<section class="grid text-center gap-4">
  <!-- Vision -->
  <div class="flex items-stretch justify-between text-white">
    <section class="grid grid-rows gap-3 bg-neutral-600">
      <h2 class="text-center font-extrabold mt-10 text-6xl">Visión</h2>
      <p class="txt-p m-2 text-xl">
        “Transformar la educación mediante la integración de tecnologías
        avanzadas, creando aulas inteligentes y conectadas que potencien el
        aprendizaje y la gestión educativa.”
      </p>
    </section>
    <div class="flex float-right items-center">
      <img src="/vision.avif" class="object-scale-down h-auto w-auto" />
    </div>
  </div>
  <!-- Mision -->
  <div class="flex items-stretch justify-between text-white">
    <div class="flex float-left items-center">
      <img src="/mision.jpg" class="object-contain h-auto" />
    </div>
    <section class="grid grid-rows gap-3 bg-stone-400 w-3/4">
      <h2 class="text-center font-extrabold mt-10 text-6xl">Misión</h2>
      <p class="txt-p m-2 text-xl">
        “Proveer soluciones innovadoras de reconocimiento facial y asistencia
        automatizada que simplifiquen la gestión educativa, mejoren la seguridad
        y optimicen el tiempo de enseñanza, permitiendo a los educadores
        centrarse en lo que realmente importa: la educación de los estudiantes.”
      </p>
    </section>
  </div>
</section>
