<section class="grid text-center gap-4">
  <!-- Vision -->
  <div class="flex items-stretch justify-between text-white">
    <section class="grid grid-rows gap-3 border bg-orange-500">
      <h2
        class="text-center font-extrabold text-xl mt-2 lg:mt-10 lg:text-6xl md:text-3xl"
      >
        Visión
      </h2>
      <p class="txt-p m-2">
        “Transformar la educación mediante la integración de tecnologías
        avanzadas, creando aulas inteligentes y conectadas que potencien el
        aprendizaje y la gestión educativa.”
      </p>
    </section>
    <div class="flex float-right items-center">
      <img src="/vision.avif" class="object-contain" />
    </div>
  </div>
  <!-- Mision -->
  <div class="flex items-stretch justify-between text-white">
    <div class="flex float-left items-center">
      <img src="/mision.jpg" class="object-contain" />
    </div>
    <section class="grid grid-rows w-3/4 gap-3 border bg-green-600">
      <h2
        class="text-center font-extrabold text-xl mt-2 lg:mt-10 lg:text-6xl md:text-3xl"
      >
        Misión
      </h2>
      <p class="txt-p m-2">
        “Proveer soluciones innovadoras de reconocimiento facial y asistencia
        automatizada que simplifiquen la gestión educativa, mejoren la seguridad
        y optimicen el tiempo de enseñanza, permitiendo a los educadores
        centrarse en lo que realmente importa: la educación de los estudiantes.”
      </p>
    </section>
  </div>
</section>
