<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header class="header">

        <div class="menu container">
            <a href="#" class="logo" >logo</a> 
            <input type="checkbox" id="menu"/> 
            <label for="menu">
                <img src="images/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">login</a></li>
                </ul> 
            </nav>
        </div>

        <div class="header-content container">
            <h1>EduVision</h1>
            <p>
                EduVision es un software muy innovador para la asistencia estudiantil mediante reconocimiento facial.
                Este tipo de tecnología puede hacer que el proceso de registro sea mucho más eficiente y preciso.
                Además de reducir el tiempo que los profesores dedican a pasar lista, puede proporcionar datos en
                tiempo real sobre la asistencia de los estudiantes, facilitando la gestión escolar.
            </p>
            <a href="#" class="btn-1">informacion</a>
        </div>
    </header>


<section class="coffee">

    <div class="coffee-content container">

        <h2>las distintas funcionalidades que tiene EduVision</h2>
        <p class="txt-p">
            estas son algunas de las funcionalidades mas destacadas de este software 
            para la ayuda de los estudiantes y docentes para los distintos niveles 
            eduacativos.
        </p>

        <div class="coffee-group">

            <div class="coffee-1">
                <img src="images/ca.png" alt="">
                <h3>Registro Automático de Asistencia</h3>
                <p>
                    Al ingresar a una clase o al campus, las cámaras del sistema reconocen automáticamente a los estudiantes 
                    y registran su asistencia en tiempo real. Este proceso elimina la necesidad de tomar asistencia manualmente 
                    y genera un registro preciso, almacenando la información en la nube o en una base de datos segura.
                </p>
            </div>
            <div class="coffee-group">

                <div class="coffee-1">
                    <img src="images/ca2.png" alt="">
                    <h3>Notificaciones Automáticas a Padres y Administradores</h3>
                    <p>
                        El sistema puede enviar notificaciones automáticas a los padres o tutores cuando sus hijos lleguen a la escuela o falten a clase.
                        También podría generar alertas para el personal administrativo si se detectan patrones de inasistencia, lo que ayuda a identificar 
                        problemas tempranamente.
                    </p>
                </div>
                <div class="coffee-group">

                    <div class="coffee-1">
                        <img src="images/ca3.png" alt="">
                        <h3>Reportes de Asistencia en Tiempo Real y Análisis de Datos</h3>
                        <p>
                            La plataforma puede generar reportes detallados de asistencia diaria, semanal o mensual,
                            brindando a los administradores escolares y maestros un resumen visual y accesible. Además,
                            se pueden aplicar análisis predictivos para detectar tendencias como absentismo crónico o identificar 
                            grupos que podrían necesitar apoyo.
                        </p>
                    </div>
              </div>
    </div>

</section>

<main class="services">
    <div class="services-content container">
        <h2>servicios del software</h2>
        <div class="services-group">

            <div class="services-1">
                <img src="images/logo1.png" alt="">
                <h3>notificaciones en tiempo real</h3>
            </div>
            <div class="services-1">
                <img src="images/logo2.png" alt="">
                <h3>Verificación de Identidad y Control de Acceso</h3>
            </div>
            <div class="services-1">
                <img src="images/logo3.png" alt="">
                <h3>Integración con Sistemas de Gestión Escolar</h3>
            </div>

        </div>
        <p>
            Estos servicios hacen que el software no solo sea útil para la gestión de asistencia,
            sino también una herramienta integral para mejorar la operación y la seguridad dentro 
            del entorno eduacativo. 
        </p>
        <a href="#" class="btn-1">informacion</a>
    </div>
</main>



<section class="general">

    <div class="general-1">
        <h2>Soporte Técnico</h2>
        <p>
            EduVision puede ofrecer soporte técnico continuo, incluyendo actualizaciones de software, 
            mantenimiento de hardware y resolución de problemas. Este servicio asegura que el sistema 
            funcione sin interrupciones y siempre esté optimizado.
        </p>
        <a href="#" class="btn-1">informacion</a>
    </div>
    <div class="general-2"></div>

</section>


<section class="general">
    <div class="general-3"></div>
    <div class="general-1">
        <h2>Privacidad y Seguridad</h2>
        <p>
            Dado que el reconocimiento facial involucra datos biométricos, EduVision ofrece servicios que aseguran
            el cumplimiento de normativas de privacidad incluyendo encriptación de datos, gestión de
            consentimiento y control de acceso a la información.
        </p>
        <a href="#" class="btn-1">informacion</a>
    </div>
</section>

<section class="blog container">
    <h2>blog</h2>

    <div class="blog-content">
        <div class="blog-1">
            <img src="images/blog4.jpg" alt="">
            <h3>blog 1</h3>
            <p>
                "Cámaras de Reconocimiento Facial: ¡Adiós a las Listas de Asistencia!"
                Hoy les quiero contar cómo las cámaras de reconocimiento facial están transformando 
                la manera en que se toma la asistencia en las escuelas. Con esta tecnología,
                los estudiantes ya no necesitan marcar su presencia manualmente.
                Al ingresar al aula, la cámara los identifica automáticamente,
                ahorrando tiempo y mejorando la precisión. ¡Es como traer un toque del futuro 
                al día a día escolar!
            </p>
        </div>
        <div class="blog-1">
            <img src="images/blog5.jpg" alt="">
            <h3>blog 2</h3>
            <p>
                "¿El Futuro de la Asistencia? Cámaras de Reconocimiento Facial"
                ¿Qué tan increíble sería que los maestros no tuvieran que pasar lista? Pues, 
                con las cámaras de reconocimiento facial, eso es posible. Este sistema reconoce 
                a los estudiantes al entrar al salón y registra su asistencia en segundos.
                Aunque algunos puedan preocuparse por la privacidad, los beneficios en términos 
                de ahorro de tiempo y exactitud son claros. ¡La tecnología está cambiando 
                la educación!
            </p>
        </div>
        <div class="blog-1">
            <img src="images/blog6.jpg" alt="">
            <h3>blog 3</h3>
            <p>
                "Reconocimiento Facial para la Asistencia: ¿Vale la Pena?"
                Hoy hablamos de las cámaras de reconocimiento facial para tomar
                asistencia en las escuelas. Este avance tecnológico promete rapidez
                y precisión, permitiendo que los estudiantes sean registrados al 
                instante. Sin embargo, también plantea preguntas sobre la privacidad
                y el manejo de datos personales. ¿Es este el futuro que queremos en
                nuestras aulas? ¡Dime qué opinas!
            </p>
        </div>
    </div>
    <a href="#" class="btn-1">informacion</a>
</section>

<footer class="footer">
    <div class="footer-content container">
        <div class="link">
            <h3>nosotros</h3>
            <ul>
                <li><a href="#">nuestros servicios</a></li>
                <li><a href="#">nuesta historia</a></li>
                <li><a href="#">politica de privacidad</a></li>
            </ul>
        </div>
            <div class="link">
                <h3>soporte y ayuda</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">soporte tecnico 24/7 (+507 6767-6565)</a></li>
                </ul>
            </div>
                <div class="link">
                    <h3>blog</h3>
                    <ul>
                        <li><a href="#">nuesto blog</a></li>
                        <li><a href="#">danos tu opinion!</a></li>
                    </ul>
            </div>
                <div class="link">
                    <h3>Redes Sociales</h3>
                    <ul>
                        <li><a href="#">linkedin</a></li>
                        <li><a href="#">instagram</a></li>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">x</a></li>
                    </ul>
                </div>
             </div>
         </footer>
</body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/amg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #CE967b;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967b;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #ebad8d;
}

.coffee {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1 {
    padding: 0 25px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/a4.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #c5c5c5;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(images/spt1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(images/sec.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0px;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}
.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size:  25px;
    color: #323337;
}

.footer {
    padding: 100px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color:#f9fafc;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

@media(max-width:991px) {
    .menu {
    padding: 30px;

    }
    .menu label {
    display: initial;
    }

    .menu .navbar {
    position: absolute;
    top: 100%;
     left: 0; 
     right: 0; 
     background-color: #323337;
     display: none;
    }

    .menu .navbar ul li {
    width: 100%;
    }

    #menu:checked ~ .navbar {
    display: initial;
    }

    .heather {
        min-height: 0vh;
    }

    .heather-content {
        padding: 100px 30px;
    }

    .heather-content p {
        padding: 0;
    }

    .coffee {
        padding: 30px;
    }

    .coffee-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }
    
    .coffee-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .coffee-img {
        display: none;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}