---
import Button from '@/components/Button.astro'
import Logo from '@/components/Logo.astro'
import { AuthPages, CurrentLandingPage, LandingPages } from '@/constants/pages'

interface Props {
	currentPage: typeof LandingPages.Home
}

const { currentPage } = Astro.props

const isActive = (page: typeof LandingPages.Home): string => {
	return currentPage.title === page.title ? ' text-blue-700' : ''
}
---

<nav class='flex items-center justify-between py-8 text-md'>
	<Logo />
	<ul class='flex gap-2'>
		{
			Object.values(LandingPages).map((page) => (
				<a
					href={page.url}
					class={'p-4 transition duration-150 cursor-pointer hover:text-blue-700' + isActive(page)}
				>
					{page.title}
				</a>
			))
		}
	</ul>
	<Button
		text='Sign Up Now'
		href={AuthPages.SignUp.url}
	/>
</nav>
