---
import Button from '@/components/Button.astro'
import Logo from '@/components/Logo.astro'
import { AuthPages, LandingPages } from '@/constants/pages'

interface Props {
	currentPage: typeof LandingPages.Home
}

const { currentPage } = Astro.props

const isActive = (page: typeof LandingPages.Home): string => {
	return currentPage.title === page.title ? ' text-blue-700' : ''
}
---

<nav class='flex items-center justify-between py-8 text-md flex-wrap'>
	<Logo />
	<input
		hidden
		type='checkbox'
		id='menu'
	/>
	<label
		for='menu'
		class='lg:hidden p-5 bg-blue-200 rounded-lg'
	>
		<i class='fi fi-rr-menu-burger'></i>
		<i class='fi fi-rr-cross'></i>
	</label>
	<ul class='flex gap-2 flex-col lg:flex-row flex-wrap w-full lg:space-x-2 items-center lg:w-auto'>
		{
			Object.values(LandingPages).map((page) => (
				<a
					href={page.url}
					class={'p-4 transition duration-150 cursor-pointer hover:text-blue-700' + isActive(page)}
				>
					{page.title}
				</a>
			))
		}
		<Button
			text='Sign Up Now'
			href={AuthPages.SignUp.url}
			class='lg:hidden'
		/>
	</ul>
	<Button
		text='Sign Up Now'
		href={AuthPages.SignUp.url}
		class='hidden lg:block'
	/>
</nav>

<script>
	const menu = document.getElementById('menu')
	menu?.addEventListener('change', handleChange)
	function handleChange(event: Event) {
		const input = event.target as HTMLInputElement
		console.log(input.checked)
	}
</script>
