---
import Button from "@components/SquareButton.astro";
import { AppPages } from "@constants/pages";
---

<div class="flex flex-col items-center gap-6 dark:text-white">

  <p class="text-xl text-center p-8">
    Aqui van a estar lo botones. 
  </p>
  <body class="bg-gray-100 min-h-screen p-8 flex items-center justify-center">
        <div class="w-full max-w-4xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-40">
          <Button text="Gestionar usuarios"  href={AppPages.Administrator.Attendance.url} size = "large" />
          <Button text="Gestionar materias "  href={AppPages.Administrator.Attendance.url} size = "large" />
          <Button text="Gestionar horarios "  href={AppPages.Administrator.Attendance.url} size = "large" />
        </div>
   </body>
</div>