---
import Button from '@components/SquareButton.astro'
import { AppPages } from '@constants/pages'
import BotonPanel from './BotonPanel'

const botones = [
	{
		text: 'Controles de Cámara',
		href: '/administrator/cameraControl',
	},
	{
		text: 'Reconocimiento Facial',
		href: '/administrator/faceRecognition',
	},
	{
		text: 'Gestionar Usuarios',
		href: '/administrator/crearUsuario',
	},
	{
		text: 'Editar Usuarios',
		href: '/administrator/editarUsuario',
	},
	{
		text: 'Gestionar Materias ',
		href: AppPages.Administrator.Attendance.url,
	},
	{
		text: 'Editar Materias ',
		href: AppPages.Administrator.Attendance.url,
	},
	{
		text: 'Gestionar horarios ',
		href: AppPages.Administrator.Attendance.url,
	},
	{
		text: 'Editar horarios ',
		href: AppPages.Administrator.Attendance.url,
	},
]
---

<div class='flex flex-col items-center gap-6 dark:text-white'>
	<p class='text-xl text-center p-8'>Aqui van a estar lo botones.</p>
	<body class='bg-gray-100 min-h-screen p-8 flex items-center justify-center'>
		<div class='w-full max-w-4xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4'>
			{
				botones.map((boton) => (
					<Button
						text={boton.text}
						href={boton.href}
					/>
				))
			}
		</div>
	</body>
</div>
