---
interface Props {
  class?: string;
  text: string;
  href: string;
}
const { text, href, class: className } = Astro.props;
---

<a
  href={href}
  class={"relative px-6 py-3 overflow-hidden font-bold text-white bg-blue-700 rounded-lg group " +
    className}
>
  <span
    class="absolute top-0 left-0 w-full h-0 transition-all duration-300 ease-in-out bg-black/10 group-hover:h-full group-hover:bottom-0 group-hover:top-auto"
  ></span><span class="relative z-10 block">{text}</span></a
>
