---
// https://fontsource.org/fonts/inknut-antiqua/install
import '@fontsource/inknut-antiqua'
---

<a href='/'>
	<picture class='flex items-center gap-2 cursor-pointer'>
		<img
			class='aspect-square h-14'
			src='/Logo.png'
			alt='Logo EduVision'
		/>
		<h1 class='text-3xl font-600'>EduVision</h1>
	</picture>
</a>

<style>
	h1 {
		font-family: 'Inknut Antiqua', serif;
	}
</style>
