---
import {  CurrentPage } from '@/constants/pages'
import Logo from './Logo.astro'

interface Props {
	currentPage: CurrentPage
}

const { currentPage } = Astro.props

const isActive = (page: CurrentPage): string => {
	return currentPage === page ? ' text-blue-700' : ''
}
---

<nav class='flex items-center justify-between py-8 text-md'>
	<Logo />
	<ul class='flex gap-2'>
		<li class={'p-4 transition duration-150 cursor-pointer hover:text-blue-700' + isActive(CurrentPage.Home)}>Home</li>
		<li class={'p-4 transition duration-150 cursor-pointer hover:text-blue-700' + isActive(CurrentPage.About)}>About</li>
		<li class={'p-4 transition duration-150 cursor-pointer hover:text-blue-700' + isActive(CurrentPage.HowItWorks)}>How It Works</li>
	</ul>
	<button class='relative px-6 py-3 overflow-hidden font-bold text-white bg-blue-700 rounded-lg group'>
		<span class='absolute top-0 left-0 w-full h-0 transition-all duration-300 ease-in-out bg-black/10 group-hover:h-full group-hover:bottom-0 group-hover:top-auto'
		></span><a class="relative z-10">Sign Up Now</a></button
	>
</nav>
