---
interface Props {
  class?: string;
  text: string;
  href: string;
  size?: "small" | "medium" | "large"; // Tamaños predefinidos
}

const { text, href, class: className, size = "medium" } = Astro.props;

const sizeClasses = {
  small: "px-4 py-2 text-sm",
  medium: "px-6 py-3 text-base",
  large: "px-40 py-40 text-lg",
}[size];
---

<a
  href={href}
  class={
    `relative overflow-hidden font-bold text-white bg-blue-700 rounded-lg group ${sizeClasses} ` +
    className
  }
>
  <span
    class="absolute top-0 left-0 w-full h-0 transition-all duration-300 ease-in-out bg-black/10 group-hover:h-full group-hover:bottom-0 group-hover:top-auto"
  ></span
  ><span class="relative z-10 block">{text}</span>
</a>