---
import Logo from '@/components/Logo.astro'
import { Image } from 'astro:assets'
import imagenBienvenida from '../assets/TechClassroom.jpg'
---

<aside class='flex flex-col items-center gap-10'>
	<Logo />
	<p class='text-gray-600 w-[500px] text-center'>
		Join our community of educators and learners. Be part of our mission. Be part of our journey.
	</p>
	<picture class='w-[500px]'
		><Image
			src={imagenBienvenida}
			alt='imagen bienvenida'
		/></picture
	>
</aside>
