---
import BasicProfile from "@userinformation/components/BasicProfile";
import MateriasInformation from "@userinformation/components/MateriasInformation";
import PersonalInformation from "@userinformation/components/PersonalInformation";
import BasicLayout from "src/layouts/BasicLayout.astro";
---

<BasicLayout title="EduVision">
  <h1 class="text-5xl font-extrabold dark:text-white">Mi Perfil</h1>
  <BasicProfile client:load />
  <hr />
  <PersonalInformation client:load />
  <hr />
  <MateriasInformation client:load />
</BasicLayout>
